@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c8c8c8;
  font-family: "Poppins", sans-serif;
}

.foto-container {
  padding-top: 2%;
  display: flex;
  padding-bottom: 4%;
  justify-content: center;
}

.foto {
  width: 60%;
}
